# Dev requirements
gitpython
httpretty
mypy
packaging
pexpect
pyOpenSSL
pytest==7.1.3
pytest-cov
pytest-rerunfailures
retry
black==22.6.0
isort

# Type stubs
types-orjson
types-protobuf
types-pyOpenSSL
types-pyyaml
types-requests
types-retry
types-setuptools
